.topbutton
{
  width:100px;
  border:2px solid #ccc;
  background:#f7f7f7;
  text-align:center;
  padding:10px;
  position:fixed;
  bottom:50px;
  right:50px;
  cursor:pointer;
  color:#333;
  font-family:verdana;
  font-size:12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;


}
.title
{
text-align: center;
}

.body_base
{
  background: rgb(97,43,191);
  background: linear-gradient(90deg, rgba(97,43,191,1) 0%, rgba(57,9,121,1) 0%, rgba(205,255,0,1) 100%);

}

.toc
{
color:yellow;
}

a:link {
  color: red;
}

a:visited {
  color: coral;
}


a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}